/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import "tailwindcss";

@font-face {
  font-family: 'Medieval';
  src: url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #1a1a1b;
  overflow-x: hidden;
}

@theme {
  --color-mercy-red: #FF0000;
  --color-mercy-green: #4A7F3F;
  --color-mercy-black: #1a1a1a;
  --color-mercy-white: #FFFFFF; 
}





