@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";

@theme {
  --font-primary: "Roboto Mono", "sans-serif";
  --font-secondary: "MedievalSharp", "serif";
}

/* define project colors */
@theme {
  --color-mercy-red: #FF0000;
  --color-mercy-green: #16fd05;
  --color-mercy-black: #000000;
  --color-mercy-white: #FFFFFF; 
  --color-mercy-blue: #071bf9;
  --color-mercy-pink: #ff00ff;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-mercy-black);
  overflow-x: hidden;
}



