@import "tailwindcss";

@theme {
  --font-primary: "Roboto Mono", "sans-serif";
  --font-secondary: "MedievalSharp", "serif";
  --font-display: "eskapade-fraktur", serif;
}

/* define project colors */
@theme {
  --color-mercy-red: #B71B02;
  --color-mercy-green: #00EA2D;
  --color-mercy-olive: #484B08;
  --color-mercy-black: #000102;
  --color-mercy-white: #FFFFFF;
  --color-mercy-blue: #062898;
  --color-mercy-pink: #CE2CB8;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-mercy-black);
  overflow-x: hidden;
}



